<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_front_103x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,138}}</string>
                <key>sourceSize</key>
                <string>{103,142}</string>
            </dict>
            <key>attack_front_15x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,207},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>attack_front_16x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>attack_front_17x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,229},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>attack_front_20x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,208},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>attack_front_21x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,207},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>attack_front_21x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,224},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>attack_front_24x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,227},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>attack_front_24x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,77},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>attack_front_24x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,63},{24,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{24,61}</string>
            </dict>
            <key>attack_front_26x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,224},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>attack_front_26x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,139},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>attack_front_27x61.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,139},{27,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,61}}</string>
                <key>sourceSize</key>
                <string>{27,61}</string>
            </dict>
            <key>attack_front_28x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,20},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>attack_front_32x59.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>attack_front_33x67.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,139},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>attack_front_41x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,224},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>attack_front_41x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>attack_front_60x135.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{60,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,135}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>hat_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>hat_head_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_front.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612ff22a5ce0a4309d03b2e8c6593164$</string>
            <key>textureFileName</key>
            <string>attack_front.png</string>
        </dict>
    </dict>
</plist>
